
/* Layout */
body{
    background: url(../img/capa.png),
                url(../img/ruido.png),
                linear-gradient(50deg,#ff4169,#7c26f8);
    background-attachment: fixed;
    font-family: helvetica,Arial, Helvetica, sans-serif;
}

html, body, #home{
    height: 100%;
}




/* navegação */

.logo{
    width: 200px;
    margin-left: 20%;
}


.navbar{
    background-color: black;
    opacity: 0.7;
    
}

/* capa */

.capa{
    text-align: center;
}
.btn-custom {
	color: white;
	border-radius: 500px;
	-webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    text-transform: uppercase;
    transition: background 0.4s, color 0.4s;
    padding: 10px 20px;
}

.btn-roxo {
	background: #7c25f8;
}

.btn-roxo:hover {
	background: #6207e3;
	color: white;
}

.btn-branco {
	border: 2px solid white;
}

.btn-branco:hover {
	background-color: white;
	color: black;
}


/* estrutura de conteudos */

.caixa{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

#servicos{
    background:white;
    width: 100%;
}



.albuns{
    padding: 10px 0;
}

.rotacionar{
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    padding-left: 80px;
    padding-top: 30px;
   
}
.rotacionar img{
    width: 100%;
}


/* rodapé */
footer{
    background: #000;
    padding: 50px 0 20px 0;
    position: relative;
}
footer h4{
    color: #919496;
    font-size: 0.8em;
    text-transform: uppercase;
}
footer .navbar-nav a{
    color: white;
    font-size: 0.8em;

}
footer .navbar-nav a:hover{
    color: #9bf0e1;
    font-size: 0.8em;
    text-decoration: none;

}
footer ul{
    list-style: none;
}
footer ul li{
    float: right;
    margin: 0 5px;
}

/* tipografia */

.capa h1{
    font-weight: 700;
    letter-spacing: -0.05em;
    margin-bottom: 50px;
    color: white;
}

.textos{
    padding: 20px;
}


.textos h3, h2{
    color: #6207e3;
    font-weight: 600;
   
}
.textos h3{
    font-size: 2em;
}
.textos h2{
    font-size: 3em;
}

#recursos h3{
    color: #9bf0e1;
}
#recursos h2{
    color: #fff;
}

#recursos p{
   color: #fff;
}







/* media queries */

/* // Extra small devices (portrait phones, less than 320px) */
@media (min-width: 150px) and (max-width:360px){ 
    
    .btn-custom{
        width: 80%;
        font-size: 50%;
    }

    a .logo{
        width: 50%;
    }
 }

 /* // Extra small devices (portrait phones, less than 576px) */
 @media(max-width: 575.98px) { 
    .capa h1{
        font-size: 2em;
    }
    .btn-custom {
		margin: 10px 15px;
	}
    .rotacionar img{
        display: none;
    }

 }

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    .capa h1{
        font-size: 3em;       
    } 
    .btn-custom {
        margin: 10px 15px;
    }
    .rotacionar img{
        display: none;
    }
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .capa h1{
        font-size: 4em;
    }
    
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .capa h1{
        font-size: 5em;
    }
 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .capa h1{
        font-size: 6em;
    }
 }

